doctype html
html
  head
    title TP2 Authentication
    link(rel="stylesheet", href="/css/tailwind.css")
  body(class="bg-gray-100 min-h-screen flex flex-col items-center justify-center")
    block content
